/* ----------------------------------------------------------------------------
 * Buttons
 * ------------------------------------------------------------------------- */
.btn {
  display: block;
  height: 48px;
  line-height: 48px;
  width: 220px;
  padding: 0;
  text-transform: uppercase;
  border-radius: 2px;
  &.primary {
    color: #313f48;
    background-color: $w;
    border: 1px solid #ebeef0;
    &:hover {
      transition: box-shadow .2s linear;
      -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
      box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
    }
  }
  &.secondary {
    color: $w;
    background-color: #989fa4;
    border: 1px solid #54636d;
    &:hover {
      background-color: #404f5a;
      border: 1px solid #313f48;
    }
  }
  &:hover {
    font-weight: bold;
  }
}