/* ----------------------------------------------------------------------------
 * Inputs
 * ------------------------------------------------------------------------- */
input,
textarea {
  background-color: #f4f5f6;
  -webkit-box-shadow:inset 0 0 0 0 #e4e9ec;
  box-shadow:inset 0 0 0 0 #e4e9ec;
  border-radius: 2px;
  &:hover,
  &:focus {
    border: none !important;
    -webkit-box-shadow:inset 0 0 4px 0 #72c3e2;
    box-shadow:inset 0 0 4px 0 #72c3e2;
  }
}