.footer {
  background: #ffffff;
  padding: 70px 0;
  text-align: center;
  .copyright {
    font-weight: 600;
    margin: 30px auto 40px;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    width: 520px;
    margin: 0 auto;
    li {
      display: inline-block;
    }
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #fff url('assets/img/logo-footer.png') no-repeat center center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  &:hover {
    transition: box-shadow .2s linear;
    -webkit-box-shadow: 0 7px 10px 4px rgba(0,0,0,0.4);
    box-shadow: 0 7px 10px 4px rgba(0,0,0,0.4);
  }
  /*
  @include image-2x('assets/img/logo-footer@2x.png', 70%, auto);
  .svg & {
    @include image-2x('assets/img/logo-footer.svg', 70%, auto);
  }
  */
}