.logo {
  display: table;
  float: left;
  max-width: 100%;
  zoom: 1;
  height: 72px;
  a {
    display: table-cell;
    vertical-align: middle;
  }
}
/*
.logo-normal {
  display: block;
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    display: none;
  }
}
.logo-retina {
  display: none;
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    display: block;
    height: 50%;
  }
}
*/
.main-nav {
  float: right;
  position: relative;
  z-index: 200;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    display: block;
    height: 72px;
    line-height: 72px;
  }
}
