// Hero Section
section {
  &.hero {
    display: flex;
    align-items: center;
    text-align: center;
    height: calc(100vh - 72px);
    background: $color--primary url('assets/img/Main.png') no-repeat center center;
    background-size: cover;
    @include image-2x('assets/img/Main@2x.png', 100%, 100%);
    .logged-in & {
      height: calc(100vh - 100px);
    }
  }
}
.hero-content {
  color: #ffffff;
  width: 100%;
  position: relative;
  h2 {
    color: $w;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }
  h3 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
  }
  .nav-control {
    font-weight: 200;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    top: 33%;
    background: url('assets/img/nav_btn.png') no-repeat center center;
    @include image-2x('assets/img/nav_btn@2x.png', 100%, auto);
    &:hover {
      cursor: pointer;
      background: url('assets/img/nav_btn_hover.png') no-repeat center center;
      @include image-2x('assets/img/nav_btn_hover@2x.png', 100%, auto);
    }
    &.prev {
      left: 50px;
    }
    &.next {
      right: 50px;
      transform: rotate(180deg);
    }
  }
}

// Sections
.section {
  padding: 100px 0;
  h4 {
    text-align: center;
    margin-bottom: 30px;
  }
  &:nth-child(even) {
    background: #ffffff;
  }
  &:nth-child(odd) {
    background: #fafbfc;
  }
}

// Latest Posts
.latest-posts-container {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  article {
    width: 30%;
    transition: all .2s ease-in-out;
    &:hover {
      z-index: 999;
      transform: scale(1.1);
    }
  }
  figure {
    margin: 0;
  }
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 0.1em;
    }
    h3,
    p {
      margin: 0;
    }
    p {
      color: $w;
      letter-spacing: 1px;
      font-size: 68.5%;
    }
    time {
      color: #ccc;
    }
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,
      &::after {
        pointer-events: none;
      }
      > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    figcaption,
    figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .read-more {
      font-weight: 600;
    }
    /*---------------------------*/
    /***** Animation Effect *****/
    /*--------------------------*/
    &.animation-effect {
      background: #030c17;
      h3 {
        transform: translateY(230%);
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
      }
      p,
      span,
      time {
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
      }
      p {
        opacity: 0;
        padding: 1em;
        -webkit-transition: opacity 0.5s, -webkit-transform 0.35s;
        transition: opacity 0.5s, transform 0.35s;
        -webkit-transform: scale(4);
        transform: scale(4);
      }
      img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
      }
      figcaption::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        //border: 2px solid #fff;
        //box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.4, 1.4, 1);
        transform: scale3d(1.4, 1.4, 1);
      }
      &:hover {
        opacity: 1;
        img {
          opacity: 0.4;
        }
        h3 {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
          transform: translateY(80%);
          margin-bottom: 40px;
        }
        figcaption {
          background-color: rgba(58, 52, 42, 0);
        }
        figcaption::before,
        p,
        span,
        time {
          opacity: 1;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}


// Benefits Section
.benefits {
  max-width: 460px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 740px;
  }
  .block {
    margin: 0;
    display: flex;
    float: left;
    padding: 20px 50px 20px 30px;
    margin-bottom: 40px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    img {
      display: block;
      margin-right: 30px;
    }
    &:nth-child(even) {
      padding-right: 10px;
    }
  }
}

// Testimonials Section
.testimonials-wrapper {
  max-width: 620px;
  margin: 80px auto 0;
  .testimonial {
    position: relative;
    margin-bottom: 100px;
    img {
      position: absolute;
    }
    blockquote {
      border: none;
      padding: 0 0 0 100px;
    }
    footer {
      padding-left: 100px;
    }
    .author {
      font-weight: 600;
    }
  }
}

// Clients Section
.clients-wrapper {
  max-width: 780px;
  margin: 80px auto 0;
  .client {
    width: 50%;
    margin-bottom: 80px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      width: 25%;
    }
    display: block;
    float: left;
    text-align: center;
    img {
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// About & Contact
#about ,
#contact {
  p {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
  }
}


// Contact
#contact {
  ul {
    max-width: 460px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0;
  }
  li {
    display: inline-block;
  }
}


.no-entries {
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
}