/**
 * Base SCSS
 */

body {
  //background-color: $color--primary;
  background-color: #fffff;
  @include bp(240)  { }
  @include bp(320)  { }
  @include bp(480)  { }
  @include bp(640)  { }
  @include bp(768)  { }
  @include bp(1024) { }
  @include bp(1366) { }
  @include bp(1920) { }
  @include bp(2560) { }
  &.logged-in {
    //margin-top: 20px;
  }
}

.wrap{
  display: table;
  width: 100%;
  height: 100%;
  font-size: 5vh;
  padding: 3vh;

  color: $w;
}

.content{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;

  h1,
  p{
    font-family: Lato;
    font-weight: 100;
    @include bp(240)  { font-weight: 100; }
    @include bp(320)  { font-weight: 100; }
    @include bp(480)  { font-weight: 100; }
    @include bp(640)  { font-weight: 100; }
    @include bp(768)  { font-weight: 100; }
    @include bp(1024) { font-weight: 100; }
    @include bp(1366) { font-weight: 100; }
    @include bp(1920) { font-weight: 100; }
    @include bp(2560) { font-weight: 100; }
  }

  h1{
    text-transform: uppercase;
    @include bp(240)  { text-transform: uppercase; }
    @include bp(320)  { text-transform: uppercase; }
    @include bp(480)  { text-transform: uppercase; }
    @include bp(640)  { text-transform: uppercase; }
    @include bp(768)  { text-transform: uppercase; }
    @include bp(1024) { text-transform: uppercase; }
    @include bp(1366) { text-transform: uppercase; }
    @include bp(1920) { text-transform: uppercase; }
    @include bp(2560) { text-transform: uppercase; }

  }
}

