/* ----------------------------------------------------------------------------
 * Mixins
 * ------------------------------------------------------------------------- */

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
@mixin fontface($font-family, $font-url, $font-name) {
  @font-face {
    font: {
      family: $font-family;
      style: normal;
      weight: normal;
    }

    src: url($font-url + '/' + $font-name + '.eot');
    src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
    url($font-url + '/' + $font-name + '.woff') format('woff'),
    url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
    url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
  }
}


/**
 * IMAGE RETINA
 * @include image-2x(/img/image.png, 100%, auto);
 */
@mixin image-2x($image, $width, $height) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}


/* ----------------------------------------------------------------------------
 * Responsive
 * Usage
    @include r(240)  { }
    @include r(320)  { }
    @include r(480)  { }
    @include r(600)  { }
    @include r(768)  { }
    @include r(1024) { }
    @include r(1366) { }
    @include r(1920) { }
    @include r(2560) { }
 * ------------------------------------------------------------------------- */

@mixin bp($point) {
  @if $point == 240 {
    @media #{$mq-mobile-portrait} { @content; }
  }
  @if $point == 320 {
    @media #{$mq-mobile-landscape} { @content; }
  }
  @if $point == 480 {
    @media #{$mq-smartphone-portrait} { @content; }
  }
  @if $point == 640 {
    @media #{$mq-smartphone-landscape} { @content; }
  }
  @if $point == 768 {
    @media #{$mq-tablet-portrait} { @content; }
  }
  @if $point == 1024 {
    @media #{$mq-tablet-landscape} { @content; }
  }
  @if $point == 1366 {
    @media #{$mq-laptop} { @content; }
  }
  @if $point == 1920 {
    @media #{$mq-desktop} { @content; }
  }
  @if $point == 2560 {
    @media #{$mq-desktop-large} { @content; }
  }
}
