/* ----------------------------------------------------------------------------
 * Typography
 * ------------------------------------------------------------------------- */
html,
body {
 font-family: 'Open Sans', sans-serif;
}
p {
 font-family: 'Open Sans', sans-serif;
 font-size: 300px;
 font-size: 14px;
 line-height: 24px;
 color: #54636D;
}
h2 {
 font-size: 44px;
 line-height: 60px;
 color: #313F48;
}
h3 {
 font-size: 24px;
 line-height: 48px;
 color: $w;
}
h4 {
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 font-size: 24px;
 line-height: 33px;
 letter-spacing: 0.14em;
 color: #313F48;
 text-transform: uppercase;
}
time {
 font-size: 12px;
 line-height: 24px;
 color: rgba(255, 255, 255, 50%);
}
blockquote {
 font-size: 12px;
 line-height: 24px;
 font-style: italic;
 color: #313F48;
 letter-spacing: 0.05em;
}
cite {
 font-family: 'Open Sans', sans-serif;
 font-style: normal;
 font-size: 13px;
 font-weight: 300;
}
ul li a {
 font-family: 'Roboto', sans-serif;
 letter-spacing: 0.2em;
 font-weight: 400;
 &:hover ,
 &:focus ,
 &:active {
  color: #444;
  font-weight: 600;
  text-decoration: none;
 }
}
.footer {
 p,
 li a {
  font-size: 10px;
  line-height: 12px;
  color: #54636D;
 }
 li {
  a {
   text-transform: uppercase;
  }
 }
}