/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$c1 		: #dedede;
$c2 		: #292929;

$w			: #ffffff;
$b			: #000000;
$gb			: #686868;
$g  		: #35ad68;
$y			: #FFFDD2;


/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */
/*$color--primary: #406de4;*/
/*$color--primary: #00BCD4;*/
/*$color--primary: #03A9F4;*/
/*$color--primary: #3498db;*/
/*$color--primary: #2980b9;*/
/*$color--primary: #3F51B5;*/
/*$color--primary: #304FFE;*/
/*$color--primary: #FF5722;*/
/*$color--primary: #795548;*/
/*$color--primary: #2ecc71;*/
/*$color--primary: #27ae60;*/
/*$color--primary: #35ad68;*/
/*$color--primary: #1abc9c;*/
/*$color--primary: #16a085;*/
/*$color--primary: #9b59b6;*/
/*$color--primary: #8e44ad;*/
 //$color--primary: #4A148C;
/*$color--primary: #673AB7;*/
/*$color--primary: #FFA000;*/
/*$color--primary: #FBC02D;*/
/*$color--primary: #f1c40f;*/
/*$color--primary: #f39c12;*/
/*$color--primary: #e67e22;*/
/*$color--primary: #d35400;*/
/*$color--primary: #e74c3c;*/
/*$color--primary: #c0392b;*/
/*$color--primary: #f44336;*/
//$color--primary: #ED4846;
 $color--primary: #7f8c8d;
//$color--primary: #34495e;
/*$color--primary: #607D8B;*/


/* ----------------------------------------------------------------------------
 * Breakpoints
 * ------------------------------------------------------------------------- */
$bp-mobile-portrait: 15em; // 240px
$bp-mobile-landscape: 20em; // 320px
$bp-smartphone-portrait: 30em; // 480px
$bp-smartphone-landscape: 37.500em; // 640px
$bp-tablet-portrait: 48em; // 768px
$bp-tablet-landscape: 64em; // 1024px
$bp-laptop: 85.375em; // 1366px
$bp-desktop: 120em; // 1920px
$bp-desktop-large: 160em; // 2560px

// Media Queries
$mq-mobile-portrait: "(min-width: #{$bp-mobile-portrait})";
$mq-mobile-landscape: "(min-width: #{$bp-mobile-landscape})";
$mq-smartphone-portrait: "(min-width: #{$bp-smartphone-portrait})";
$mq-smartphone-landscape: "(min-width: #{$bp-smartphone-landscape})";
$mq-tablet-portrait: "(min-width: #{$bp-tablet-portrait})";
$mq-tablet-landscape: "(min-width: #{$bp-tablet-landscape})";
$mq-laptop: "(min-width: #{$bp-laptop})";
$mq-desktop: "(min-width: #{$bp-desktop})";
$mq-desktop-large: "(min-width: #{$bp-desktop-large})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";